

<div class="coach">

<h1>Stupid Coaching</h1>

<form class="navbar-form" action="answer">
  <div class="form-group">
  <input class="form-control" type="text" name="question">
  </div>
   <input class="btn btn-primary" type="submit" value="Ask!">
</form>

</div>
